<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-3">
        <div class="card-body">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/people/list" class="btn btn-info">List or find people</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/people/add_delete" class="btn btn-info">Add a person</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/people/delete" class="btn btn-info">Delete a person</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
